<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>hhh</title>
    <script src="../../Scripts/jquery-2.1.4.js"></script>
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <link href="content/bootstrap.min.css" rel="stylesheet" />
    <link href="content/bootstrap.css" rel="stylesheet">
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/angular.js"></script>
    <script type="text/javascript" src="Scripts/angular-route.js"></script>
    <script type="text/javascript" src="App/app.route.js"></script>
    <script type="text/javascript" src="App/app.module.js"></script>
    <script type="text/javascript" src="App/Model/HumanModel.js"></script>
    <script type="text/javascript" src="App/Service/HumanService.js"></script>
    <script type="text/javascript" src="App/Controller/HiController.js"></script>
    <script type="text/javascript" src="App/Interface/HumanInterface.js"></script>
</head>

<body style="background-image: url('../Images/audi.jpg')">
    <div ng-controller="HiController">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <table>
                        <tr>
                            <td><button class="btn btn-danger btn-lg">hi</button></td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-danger btn-lg">hi</button></td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-danger btn-lg">hi</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
